@page
@model Mascotas.App.Presentacion.Pages.ActualizarVeterinarioModel
@{
}
<h1>Actualizar Veterinario </h1>
<form method="POST">

    <div class="form-group">
        <label asp-for="Veterinario.Nombre"></label>
        <input id="Nombre" type="text" asp-for="Veterinario.Nombre" class="form-control" />
        
    </div>
    <div class="form-group">
        <label asp-for="Veterinario.Id"></label>
        <input id="IdN" type="text" asp-for="Veterinario.Id" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Veterinario.Apellidos"></label>
        <input id="Apellido" type="text" asp-for="Veterinario.Apellidos" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Veterinario.Direccion"></label>
        <input id="Direccion" type="text" asp-for="Veterinario.Direccion" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Veterinario.Telefono"></label>
        <input id="Telefono" type="text" asp-for="Veterinario.Telefono" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Veterinario.TarjetaProfesional"></label>
        <input id="Tarjeta" type="text" asp-for="Veterinario.TarjetaProfesional" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Veterinario.Especializacion"></label>
        <input id="Especializacion" type="text" asp-for="Veterinario.Especializacion" class="form-control" />
    </div>
    <div class="form-group">
       <button type="submit" class="btn btn-outline-danger">Actualizar</button>
    </div>
    <div>
       <button id="btnCance" onclick="LimpiarFormulario();" type="submit" class="btn btn-outline-danger">Cancelar</button>
       <a asp-page="./ListaVeterinario" class="btn btn-outline-success">Volver</a>
       </div>   
       <div>
           
       </div>  
    </form>
    <script>
       function LimpiarFormulario(){
                $("#Nombre").val('');
                $("#IdN").val('');
                $("#Apellido").val('');
                $("#Direccion").val('');
                $("#Telefono").val('');
                $("#Tarjeta").val('');
                $("#Especializacion").val('');
                }
     </script>