@page
@model Mascotas.App.Presentacion.Pages.ActualizarEspecializacionModel
@{
}
<h1>Especializaciones Listado </h1>
<form method="POST">

    <div class="form-group">
        <label asp-for="Especializaciones.Id"></label>
        <input id="IdE" type="text" asp-for="Especializaciones.Id" class="form-control" />
        
    </div>
    <div class="form-group">
        <label asp-for="Especializaciones.Aves"></label>
        <input id="Aves" type="text" asp-for="Especializaciones.Aves" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Especializaciones.Perros"></label>
        <input id="Perros" type="text" asp-for="Especializaciones.Perros" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Especializaciones.Gatos"></label>
        <input id="Gatos" type="text" asp-for="Especializaciones.Gatos" class="form-control" />
    </div>
    <div class="form-group">
       <button type="submit" class="btn btn-outline-danger">Actualizar</button>
    </div>
    <div>
       <button id="btnCance" onclick="LimpiarFormulario();" type="submit" class="btn btn-outline-danger">Cancelar</button>
       <a asp-page="./ListaEspecializacion" class="btn btn-outline-success">Volver</a>
       </div>   
       <div>
           
       </div>  
    </form>
    <script>
       function LimpiarFormulario(){
                $("#IdE").val('');
                $("#Aves").val('');
                $("#Perros").val('');
                $("#Gatos").val('');
                }
     </script>