@page
@model Mascotas.App.Presentacion.Pages.BuscarEspecializacionModel
@{
}
<div>
@Model.Especializaciones.Id
</div>
<div>
@Model.Especializaciones.Aves
</div>
<div>
@Model.Especializaciones.Perros
</div>
<div>
@Model.Especializaciones.Gatos
</div>
 <a asp-page="./ListaEspecializacion" class="btn btn-outline-success">Volver Listado</a>