@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style> 
    .Clasehover:hover{
        box-shadow: 2px 2px red, -1em 0 0.4em #f8f9fa;;
    }
</style>

<div class="text-center">
    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 5px;" >
            <a href="./Animal/ListaAnimal">
            <div style="border: 1px solid green; 2px 2px red, -1em 0 0.4em blue " class="Clasehover">
            <div style="border: 1px solid red;" >
                <img src="https://www.webconsultas.com/sites/default/files/styles/wc_adaptive_noticia__small/public/noticias/mascotas-preferidas-espanoles.jpg" alt="Imagen" width="200px" height="200px" asp-page="./ListadoAnimal"/>
            </div>
            <div>
                <h4>Animales</h4>
                <p> Registro de mascotas</p>
            </div>
        </div>
        </a>
        <a href="./Empresa/ListaEmpresa">
        <div style="border: 1px solid green;" class="Clasehover">
            <div style="border: 1px solid red;">
                 <img src="https://thumbs.dreamstime.com/b/logo-de-empresa-veterinaria-para-tarjetas-identificaci%C3%B3n-perros-y-gatos-perro-gato-tarjeta-veterinario-negocio-logotipo-arco-iris-204761914.jpg" alt="Imagen" width="200px" height="200px" />
            </div>
            <div>
                <h4>Empresa veterinaria</h4>
                <p>Datos de mpresa veterinaria</p>
            </div>
        </div>
        </a>
        <a href="./Especializacion/ListaEspecializacion">
        <div style="border: 1px solid green;" class="Clasehover">
            <div style="border: 1px solid red;">
               <img src=https://mercadoveterinario.com.ar/wp-content/uploads/2020/09/iva-veterinario.jpg alt="Imagen" width="200px" height="200px" />
                </div>
            <div>
                <h4>Especializacion veterinaria</h4>
                <p>Especialidad y veterinario</p>
            </div>
        </div>
        </a>
        <a href="./Solicitud/ListaSolicitud">
        <div style="border: 1px solid green;" class="Clasehover">
            <div style="border: 1px solid red;">
            <img src="https://www.pmfarma.com.mx/noticias/noticias/18011/image/check%20up%20medico%20previta.jpg" alt="Imagen" width="200px" height="200px" />
            </div>
            <div>
                <h4>Solicitud de Visita</h4>
                <p>Aparta la cita para tu mascota</p>
            </div>
        </div>
        </a>
        <a href="./Veterinario/ListaVeterinario">
        <div style="border: 1px solid green;" class="Clasehover">
            <div style="border: 1px solid red;">
                <img src="https://www.purina-latam.com/sites/g/files/auxxlc391/files/styles/large/public/Revisiones%20de%20mi%20perro%20articulacionespeso%20dientes.jpg?itok=9xNX3MPc" alt="Imagen" width="200px" height="200px" />
                </div>
            <div>
                <h4>Profesional Veterinario</h4>
                <p>Medicos veterinarios</p>
            </div>
        </div>
        </a>
        <a href="./Visita/ListaVisita">
        <div style="border: 1px solid green;" class="Clasehover">
            <div style="border: 1px solid red;">
                <img src="https://essentialspetcare.com/wp-content/uploads/2021/02/Untitled-19.jpg" alt="Imagen" width="200px" height="200px" />
            </div>
            <div>
                <h4>Visita Veterinaria</h4>
                <p>Registro de las visitas</p>
            </div>
        </div>
        </a>
    </div>
</div>
