@page
@model Mascotas.App.Presentacion.Pages.BuscarEmpresaModel
@{
}
<div>
@Model.Empresa.Id
</div>
<div>
@Model.Empresa.Nit
</div>
<div>
@Model.Empresa.RazonSocial
</div>
<div>
@Model.Empresa.Direccion
</div>
 <a asp-page="./ListaEmpresa" class="btn btn-outline-success">Volver Listado</a>