@page
@model Mascotas.App.Presentacion.Pages.ActualizarSolicitudModel
@{
}
h1>Solicitud Visita Veterinario Actualizar</h1>
<form method="POST">

    <div class="form-group">
        <label asp-for="Solicitud.Id"></label>
        <input id="IdS" type="text" asp-for="Solicitud.Id" class="form-control" />
        
    </div>
    <div class="form-group">
        <label asp-for="Solicitud.IdDueño"></label>
        <input id="Dueño" type="text" asp-for="Solicitud.IdDueño" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Solicitud.NombreMascota"></label>
        <input id="Nombre" type="text" asp-for="Solicitud.NombreMascota" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Solicitud.TipoMascota"></label>
        <input id="Tipo" type="text" asp-for="Solicitud.TipoMascota" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Solicitud.Veterinario"></label>
        <input id="Veterinario" type="text" asp-for="Solicitud.Veterinario" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Solicitud.FechaVisita"></label>
        <input id="Fecha" type="text" asp-for="Solicitud.FechaVisita" class="form-control" />
    </div>
    <div class="form-group">
       <button type="submit" class="btn btn-outline-danger">Actualizar</button>
    </div>
    <div>
       <button id="btnCance" onclick="LimpiarFormulario();" type="submit" class="btn btn-outline-danger">Cancelar</button>
       <a asp-page="./ListaSolicitud" class="btn btn-outline-success">Volver</a>
       </div>   
       <div>
           
       </div>  
    </form>
    <script>
       function LimpiarFormulario(){
                $("#IdS").val('');
                $("#Dueño").val('');
                $("#Nombre").val('');
                $("#Tipo").val('');
                $("#Veterinario").val('');
                $("#Fecha").val('');
                }
     </script>