@page
@model Mascotas.App.Presentacion.Pages.IngresarSolicitudModel
@{
}
<h1>Solicitar visita del veterinario </h1>
<form method="post">
    <div class="form-group">
        <label asp-for="Solicitud.Id"></label>
        <input id="IdS" type="text" asp-for="Solicitud.Id" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Solicitud.IdDueño"></label>
        <input id="IdD" type="text" asp-for="Solicitud.IdDueño" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Solicitud.NombreMascota"></label>
        <input id="Mascota" type="text" asp-for="Solicitud.NombreMascota" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Solicitud.TipoMascota"></label>
        <input id="Tipo" type="text" asp-for="Solicitud.TipoMascota" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Solicitud.Veterinario"></label>
        <input id="Nario" type="text" asp-for="Solicitud.Veterinario" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Solicitud.FechaVisita"></label>
        <input id="Visita" type="text" asp-for="Solicitud.FechaVisita" class="form-control" />
    </div>
    <div class="form-group">
       <button type="submit" class="btn btn-outline-danger">Ingresar Datos</button>
       <button id="btnCance" onclick="LimpiarFormulario();" type="submit" class="btn btn-outline-danger">Cancelar</button>
       <a asp-page="./Personas" class="btn btn-outline-success">Volver</a>
       </div>     
    </form>
   <script>
       function LimpiarFormulario(){
                $("#IdS").val('');
                $("#IdD").val('');
                $("#Mascota").val('');
                $("#Nario").val('');
                $("#Visita").val('');
                }
     </script>